.container {
  display: block;
}

.wordOuter,
.charOuter,
.lineOuter {
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}

.lineOuter {
  display: block;
  width: 100%;
}

.revealInner {
  display: inline-block;
  transform: translateY(0);
  will-change: transform;
}

.wordInner,
.charInner,
.lineInner {
  display: inline-block;
}

.wordCharOuter {
  display: inline-block;
  white-space: nowrap;
}

.space {
  display: inline-block;
}
